* {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    overflow: hidden;
}

main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 10% 10% 20% 50% 10%;
    grid-template-areas:
        "header"
        "nav"
        "parrafo"
        "cuerpo"
        "footer";
}


header {
    background-color: #ffffff;
    grid-area: header;
    justify-content: center;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 5px rgb(96, 96, 96);
}


.nav {
    background-color: antiquewhite;
    justify-content: center;
    text-decoration: none;
    grid-area: nav;
    height: 10vh;
    display: flex;
    grid-area: nav;
}

.servicios {
    text-decoration: none;
    margin: auto;
    background-color: rgb(224, 220, 196);
    border-radius: 10px;
    padding: 15px;
}

.servicios:hover{
    background-color: #616060;
    transition-delay: 0.1ms;
    color: #ffffff;
}

p {
    background-size: 80px 80px;
    justify-content: center;
    line-height: 40px;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    grid-area: parrafo;
}

.cuerpo {
    grid-area: cuerpo;
}


.carrosText {
    background-image: url(https://scene7.toyota.eu/is/image/toyotaeurope/supra_handling_tcm-1014-1542591?wid=1280&fit=fit,1&ts=0&resMode=sharp2&op_usm=1.75,0.3,2,0);
    padding: 150px;
    font-size: 40px;
    background-size: cover;
    line-height: 350px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.8;
    margin-left: -50%;
    margin-right: 20%;
}

.motosText {
    background-image: url(https://www.defondos.com/bulkupload/motos-deportivas-wallpapers/Motos/Deportivas/Moto%20Pista_800.jpg);
    padding: 150px;
    font-size: 40px;
    background-size: cover;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.8;
    margin-right: -50%;
}

footer {
    background-color: rgb(65, 65, 65);
    grid-area: footer;
}

.footerText {
    color: white;
    text-decoration: none;
    background-color: #616060;
    border-radius: 5%;
    padding: 10%;
    margin-top: 50px;
}